*{padding: 0; margin: 0; font-family: 'Raleway', sans-serif;}
.searchScreen{
    width: 100%;
    height: 100vh;    
}
.logo{
    width: 100%;
    height: 10vh;
    background-color: #97CBC9;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 30%;
    margin: auto;
}
.serchContent{
    width: 100%;
    height: 90vh;
    background-color: white;
}
.searchHead{
    width: 100%;
    height: 10vh;
    border: 1px solid transparent;
    text-align: center;
}
.searchHead h2{
    width: 50%;
}
.searchHead span{
    font-weight: 700;
}
.searchContainer{
    width: 100%;        
    background-color: #EFEFEF;
    border: 1px solid transparent;
}
.element{    
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: auto;
    display: flex;
    background-color: white;
    box-shadow: 0 10px 6px -6px #777;
}
.element .image{
    width: 30%;
}
.image img{
    width: 100%;    
}
.title{
    width: 70%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title h2{
    width: 90%;      
}
.title p{
    width: 90%;    
}
.title a{    
    background-color: #24C358;
    color: white;
    border-radius: 5px;
    padding: 2px;
    transition: background-color 1s;    
}
.title a:hover{
    background-color: #1196DD;
    color: white;
    text-decoration: none;
}
.more{
    font-size: 1.5em;
}
.endSearch{ 
    width: 100%;
    color: #97CBC9;
    text-align: center;    
}
.endSearch h2{
    font-weight: 700;
}
@media screen and (max-width: 1024px){
    .element{
        width: 90%;
    }
}
@media screen and (max-width: 480px){
    .logo img{
        width: 80%;
    }
    .searchHead{
        height: 20vh;    
    }
    .searchHead h2{
        width: 100%;
    }
    .element{
        width: 95%;
        flex-direction: column;
    }
    .element .image{
        width: 100%;
    }
    .title{
        width: 100%;      
    }
    .title p{
        width: 90%;    
    }    
}