*{font-family: 'Raleway', sans-serif; padding: 0; margin: 0;}
.screen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/BlurLogin.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center; /*ESTA MADRE CENTRA*/

}
.contentEstablecimiento{
    height: 90vh;
    background-color: white;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.headerEstablecimiento{
    width: 80%;
    height: 10%;
    display: inline;    
    text-align: center;
}
.imagesEstablecimiento img{
    height: 30vh;   
    display: flex;
    align-items: center;
}
.imagesEstablecimiento{
    width: 100%;
}
.descriptionEstablecimiento{
    height: auto;
    text-align: justify;

}
.contactEstablecimiento{
    height: auto;
    font-size: 1rem;
    text-align:  center;
    
}
.mapEstablecimiento{
    height: auto;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.scrReviews{
    width: 100%;
    height: 100vh;
    background: linear-gradient(aquamarine, cadetblue);
}
.contReviews{
    width: 100%;
    height: 100%;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.reviews{
    height: 100vh;
    width: 80%;
    background-color: snow;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.headerReviews h1{
    margin: 0;
}
.headerReviews{
    width: 100%;
    height: 10vh;
    display: inline;    
    text-align: center;
    padding-top: 1rem;
}
.textReviews p{
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.textReviews{
    width: 80%;
    height: 90vh;
    background-color: white;
    margin-left: 10%;
    text-align: justify;
    justify-content: center;
    overflow-y: auto;
    
}
@media only screen and (max-width: 480px){

.screen{
    width: 100%;
    height: auto;
    background-image: url(../img/BlurLogin.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    }
.container{
    width: 100%;
    height: auto;
    display: flex;    
    align-items: center;
    justify-content: center; /*ESTA MADRE CENTRA*/
    }
.contentEstablecimiento{
    height: auto;
    background-color: white;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    }
.headerEstablecimiento{
    width: 80%;
    height: 10%;
    display: inline;    
    text-align: center;
    }
.imagesEstablecimiento img{
    height: 30vh;   
    display: flex;
    align-items: center;
    }
.imagesEstablecimiento{
    width: 100%;
    margin-bottom: 1rem;
    }
.descriptionEstablecimiento p{
    font-size: 1.2em;
    }
.contactEstablecimiento{
    height: auto;
    font-size: .7em;
    text-align:  center;
    margin-bottom: 10px;
    }
.mapEstablecimiento{
    
    height: 50vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
    .contReviews{
      width: 100%;  
    }
    .scrReviews{
        width: 100%;
    }
    .textReviews{
        width: 100% !important;
        margin: auto;
        margin-left: 0px;
    }
    .reviews{    
    width: 100% !important;
    background-color: snow;    
}
    
}