*{font-family: 'Raleway', sans-serif; padding: 0; margin: 0;}
body{
    background-color: 
        #EFEFEF;
    text-align: center;
}
.screenWelcome{
    width: 100%;
    height: 100vh;
    background-image: url(../img/BlurLogin.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.containerWelcome{
    width: 100%;
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.contentWelcome{
    height: 90vh;
    background-color: white;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.headerWelcome{
    width: 80%;
    height: auto;
    display: inline;    
    text-align: center;
}
#Enviar{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: #24C358;
    color: white;
    font-weight: 700;    
    transition: 1s background-color;
}
#Enviar:hover{
    background-color: #1196DD;
}
.title{
    width: 100%;
    text-align: center;
    background-color: #EFEFEF;
    border: 1px solid transparent;
}
.addPlace{
    margin-top: 1rem;
}
.logoimg{
    width: 100%;
    height: 50vh;
}
.imag{
    width: 100%;
}
.estab{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    color: black;
    background-color: #EFEFEF;
    padding: 10px;
}
a, a:hover{
    color: black;
    text-decoration: none;
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 375px){

}