*{font-family: 'Raleway', sans-serif; padding: 0; margin: 0;}
body{
    background-color: 
        #EFEFEF;
}
.screen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/BlurLogin.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.contentAddPlace{
    width: 110% !important;
    height: 90vh;
    background-color: white;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.headerAddPlace{
    width: 90%;
    height: auto;
    display: inline;    
    text-align: center;
}
.infogral{
    height: 80%;
}
.horario{
    height: 35%;
}
.mapAddPlace{
    height: 45%;
}
#Enviar{
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: #24C358;
    color: white;
    font-weight: 700;    
    transition: 1s background-color;
}
#Enviar:hover{
    background-color: #1196DD;
}