*{font-family: 'Raleway', sans-serif; padding: 0; margin: 0;}

.loginScreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/BlurLogin.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.loginContainer{
    width: 100%;
    height: 100vh;
    display: flex;    
    align-items: center;
}
.access{
    height: 90vh;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.accessHead{
    width: 80%;
    height: 20vh;
    display: flex;    
    align-items: center;
}
.accessForm{
    width: 80%;
    height: 40vh;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 60%;
    height: 5vh;
    border: 5px solid #EFEFEF;
    color: black;
}
input:focus{
    outline-color: #24C358;
}
.Enviar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
}
.Enviar p{
    margin-left: 20px;
    margin-top: 8px;
    font-weight: 700;
}
#Enviar{
    width: 40%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    background-color: #24C358;
    color: white;
    font-weight: 700;    
    transition: 1s background-color;
}
#Enviar:hover{
    background-color: #1196DD;
}
.image{
    height: 90vh;
    background-image: url(../img/Banner.jpg);
    background-position: center;
}
.imageHead{
    width: 100%;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imageHead h2{
    width: 100%;
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;    
}
.imageHead p{
    text-align: center;
    font-weight: 500;
}
.accessFooter{
    width: 80%;
    height: 8vh;
    display: flex;
    align-items: center;
}
.accessFooter a, .accessFooter a:hover{
    color: black;
}
@media screen and (max-width: 768px){
    .loginScreen{
        height: 100vh;
    }
    .loginContainer{
        height: 100vh;
    }
    .access{
        height: 70vh;        
    }
    .accessHead{
        height: 15vh;
    }
    .image{
        height: 30vh;
    }
    .imageHead{
        height: 30vh;
    }
}
@media screen and (max-width: 480px){
    .loginScreen{
        height: 100vh;
    }
    .loginContainer{
        height: 100vh;
    }
    .access{
        height: 60vh;        
    }
    .accessHead{
        height: 10vh;
    }
    .image{
        height: 30vh;
    }
    .imageHead{
        height: 30vh;
    }
}
@media screen and (max-width: 375px){
    .loginScreen{
        height: 100vh;
    }
    .loginContainer{
        height: 100vh;
    }
    .access{
        height: 70vh;        
    }
    .accessHead{
        height: 8vh;
    }
    .accessForm{
        width: 100%;
        height: 56vh;
    }
    .image{
        height: 30vh;
    }
    .imageHead{
        height: 30vh;
    }
}