*{padding: 0; margin: 0; font-family: 'Raleway', sans-serif;}
pallete{
    Parrafos: #84807B;
    Boton1: #24C358; - Hover: #1196DD;
    Boton2: #1196DD;
}
.main, .categorieScreen, .AdsScreen{
    width: 100%;
    height: 100vh;
    background-color: #EFEFEF;
    border: 1px solid transparent;
}
.main{
    background-image: url(../img/Banner.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}
header{
    height: 8vh;
}
header nav ul{
    display: flex;
    flex-direction: row;
}
.logo, .navigation{
    width: 50%;        
}
.logo img{
    width: 50%;
    height: 8vh;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navigation p{
    text-align: right;
    font-weight: 700;
}
.navigation a, .navigation a:hover{
    color: white;
}
header div{
    text-align: center;  
}
.header{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.weather{
    width: 100%:
}
.weatherIcon{
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}
.title img{
    width: 45%;
    text-align: center;
    font-size: 5em;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;    
    margin: auto;
}
.title h2{
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 500;    
    text-transform: uppercase;
    
}
.search{
    width: 100%;
    text-align: center;    
}
.search form{
    width: 100%;     
}
.search select{    
    width: 20%;
    height: 5vh;
    color: #84807B;
    font-weight: 500;
    border: 3px solid #DFDFDF;
    border-radius: 5px;
}
.search input{
    width: 10%;
    height: 5vh;
    color: white;
    background-color: #24C358;
    font-weight: 500;
    border: none;
    transition: 1s background-color;
    border-radius: 5px;
}
.search input:hover{
    background-color: #1196DD;
}
@media screen and (max-width:480px){
    .header{
        height: 80vh;
    }
    .logo{
        width: 100%;
    }
    .title img{
        width: 80%;
    }
    .navigation{
        display: none;
    }
    .search select{
        width: 50%;
    }
    .search input{
        width: 30%;
    }
}

.allCategories{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.allCategoriesHead{
    width: 100%;
    text-align: center;
    height: 20vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
@media screen and (max-width: 768px){
    .allCategories{
        height: 270vh;
    }
}
@media screen and (max-width: 480px){
    .allCategories{
        height: 270vh;
    }
}
@media screen and (max-width: 375px){
    .allCategories{
        height: 300vh;
    }
}
.AdsScreen{
    background-image: url(../img/PromotionOverlay.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.promotion h2, .promotionTitle ,.promotionDate ,.promotionJoin{
    width: 70%;
    text-align: center;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;    color: white;
    font-weight: 300;
    text-shadow: 0px 0px 1px black;
}
.promotionTitle{
    height: 15vh;
}
.promotionTitle h2{
    font-weight: 700; 
    font-size: 4em;
}
.promotionDate{
    font-weight: 400;
}
.promotionJoin button{
    width: 20%;
    height: 5vh;
    background: #24C358;  
    border: none;
    border-radius: 10px;
    transition: 1s background;
}
.promotionJoin button:hover{
    background: #1196DD;
}
.promotionJoin a, .promotionJoin a:hover{
    color: white;
}
@media screen and (max-width:480px){
    .promotion h2, .promotionTitle ,.promotionDate ,.promotionJoin{
        width: 100%;        
    }
    .promotionJoin button{
        width: 40%;
    }
}

.secundaryAds{
    width: 100%;
    height: 100vh;
    background-color: white;
}
.secundaryHead{
    width: 100%;
    text-align: center;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Ads{
    width: 100%;
    height: 70vh;
    display: flex;
}

@media screen and (max-width: 768px){
    .secundaryAds {
        height: 250vh;
    }
    .Ads{
        flex-direction: column;        
    }
}
@media screen and (max-width: 480px){
    .secundaryAds{
        height: 280vh;
    }
    .secundaryHead{
        height: 30vh;
    }
    .Ads{
        height: 160vh; 
    }
    .Ads .container{
        width: 100%;
        flex-direction: column;
    } 
    .secundary{
        width: 80%;
        height: auto;
        margin: auto;
    }
    .secundary img{
        height: 30vh;
    }
    .review{
        height: 10vh;
    }
    .promo{
        width: 40%;
    }
}

.monthScreen{
    width: 100%;
    height: 120vh;    
}
.monthHead{
    width: 100%;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.monthContent{
    width: 100%;
    height: 90vh;
}
@media screen and (max-width: 480px){
    .monthScreen{
        height: 230vh;
    }
}
@media screen and (max-width: 375px){
    .monthScreen{
        height: 230vh;
    }
}
.newslatter{
    width: 100%;
    height: 50vh;
    background-image: url(../img/jdtjtgnj.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    text-align: center;
}
.newslatterHead{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
.newslatter h3, .newslatter h4{
    color: white;
    font-weight: 700;
}
.newslatter h4{
    font-weight: 400;    
}
.newslatter form{
    height: 15vh;
    display: flex;    
    justify-content: center;
    align-items: center;
}
#Correo{
    width: 30%;
    height: 6vh;
    border: none;
    border-radius: 5px;    
}
#Suscribirse{
    width: 15%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #24C358;
    font-size: 1.2em;
    text-transform: uppercase;
}
@media screen and (max-width:480px){
    #Correo{
        width: 60%;
        font-size: 1em;
    }
    #Suscribirse{
        width: 30%;
        font-size: 1em;
    }
}

footer{
    width: 100%;
    height: 25vh;
    background-color: #20212D;
    color: white;
}
.info{
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
}
footer img{
    width: 50%;
}
.social{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-facebook{
    color: #3B5998;
}
.fa-twitter{
    color: #56A3D9;
}
.fa-linkedin{
    color: #007BB6;
}
footer i{    
    margin-left: 10px;
    margin-right: 10px;
}
.footerCopy{
    width: 100%;
    height: 10vh;
    background-color: #131420;
    color: white;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 480px){
    footer{
        height: 40vh;
    }
}
@media screen and (max-width: 375px){
    footer{
        height: 50vh;
    }
    .footerCopy{
        height: 20vh;
    }
}








