*{font-family: 'Raleway', sans-serif; padding: 0; margin: 0;}

.signupScreen{
    width: 100%;
    height: 100vh;
    background-image: url(../img/BlurLogin.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.signupContainer{
    width: 100%;
    height: 100vh;
    display: flex;    
    align-items: center;
}
.register{
    height: 90vh;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.registerHead{
    width: 60%;
    height: 12vh;
    display: flex;    
    align-items: center;
}
.registerForm{
    width: 60%;
    height: 75vh;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    width: 70%;
    height: 5vh;
    border: 5px solid #EFEFEF;
    color: black; 
    margin-bottom: 5px !important;
}
input:focus{
    outline-color: #24C358;
}
.Enviar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 10vh;
}
.Enviar p{
    margin-left: 20px;
    margin-top: 8px;
    font-weight: 700;
}
#Enviar{
    width: 50%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    background-color: #24C358;
    color: white;
    font-weight: 700;    
    transition: 1s background-color;
}
#Enviar:hover{
    background-color: #1196DD;
}
.image{
    height: 90vh;
    background-image: url(../img/Banner.jpg);
    background-position: center;
}
.imageHead{
    width: 100%;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imageHead h2{
    width: 100%;
    text-align: center;
    font-weight: 500;
    letter-spacing: 5px;    
}
.imageHead p{
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width: 768px){
    .registerScreen{
        height: 100vh;
    }
    .registerContainer{
        height: 100vh;
    }
    .register{
        height: 85vh;        
    }
    .registerHead{
        height: 8vh;
        width: 40%;
    }
    .registerForm{
        
    }
    .image{
        height: 15vh;
    }
    .imageHead{
        height: 15vh;
    }
}
@media screen and (max-width: 480px){
    .register{
        height: 90vh;        
    }
    .registerHead{
        height: 10vh;
        width: 70%;
    }
    .registerForm{
        width: 90%;
        height: 84vh;
    }
    input{
        width: 100%;
    }
    #Enviar{
        width: 80%;
        margin: auto;
    }
    .image{
        height: 0vh;
        display: none;
    }
    .imageHead{
        height: 0vh;
    }
}


